<section>
  <div class="modal modal--is-hidden" data-modal-icecream>
    <div class="modal__inner">
      <button class="modal__icon" data-modal-close-icecream>
        <svg width="10" height="10">
          <use xlink:href="./images/symbol.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <picture>
        <source
          media="screen and (max-width: 480px)"
          srcset="
            ./images/icecream-M-@1x.png 1x,
            ./images/icecream-M-@2x.png 2x,
            ./images/icecream-M-@3x.png 3x
          "
        />
        <source
          media="screen and (max-width: 768px)"
          srcset="
            ./images/icecream-T-@1x.png 1x,
            ./images/icecream-T-@2x.png 2x,
            ./images/icecream-T-@3x.png 3x
          "
        />
        <source
          media="screen and (min-width: 769px)"
          srcset="
            ./images/icecream-D-@1x.png 1x,
            ./images/icecream-D-@2x.png 2x,
            ./images/icecream-D-@3x.png 3x
          "
        />
        <img src="./images/icecream-M-@1x.png" alt="Icecream" />
      </picture>
      <div class="modal__information">
        <p class="modal__name">ice cream</p>
        <p class="modal__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </div>
    </div>
  </div>
  <div class="modal modal--is-hidden" data-modal-icecoffee>
    <div class="modal__inner modal__inner--brown">
      <button class="modal__icon" data-modal-close-icecoffee>
        <svg width="10" height="10">
          <use xlink:href="./images/symbol.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <picture>
        <source
          media="screen and (max-width: 480px)"
          srcset="
            ./images/icecoffee-M-@1x.png 1x,
            ./images/icecoffee-M-@2x.png 2x,
            ./images/icecoffee-M-@3x.png 3x
          "
        />
        <source
          media="screen and (max-width: 768px)"
          srcset="
            ./images/icecoffee-T-@1x.png 1x,
            ./images/icecoffee-T-@2x.png 2x,
            ./images/icecoffee-T-@3x.png 3x
          "
        />
        <source
          media="screen and (min-width: 769px)"
          srcset="
            ./images/icecoffee-D-@1x.png 1x,
            ./images/icecoffee-D-@2x.png 2x,
            ./images/icecoffee-D-@3x.png 3x
          "
        />
        <img src="./images/icecoffee-M-@1x.png" alt="Icecoffee" />
      </picture>
      <div class="modal__information">
        <p class="modal__name">ice coffe</p>
        <p class="modal__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </div>
    </div>
  </div>
  <div class="modal modal--is-hidden" data-modal-milkshake>
    <div class="modal__inner modal__iner--green">
      <button class="modal__icon" data-modal-close-milkshake>
        <svg width="10" height="10">
          <use xlink:href="./images/symbol.svg#icon-arrow-right"></use>
        </svg>
      </button>
      <picture>
        <source
          media="screen and (max-width: 480px)"
          srcset="
            ./images/milkshake-M-@1x.png 1x,
            ./images/milkshake-M-@2x.png 2x,
            ./images/milkshake-M-@3x.png 3x
          "
        />
        <source
          media="screen and (max-width: 768px)"
          srcset="
            ./images/milkshake-T-@1x.png 1x,
            ./images/milkshake-T-@2x.png 2x,
            ./images/milkshake-T-@3x.png 3x
          "
        />
        <source
          media="screen and (min-width: 769px)"
          srcset="
            ./images/milkshake-D-@1x.png 1x,
            ./images/milkshake-D-@2x.png 2x,
            ./images/milkshake-D-@3x.png 3x
          "
        />
        <img src="./images/milkshake-M-@1x.png" alt="Milkshake" />
      </picture>
      <div class="modal__information">
        <p class="modal__name">milkshake</p>
        <p class="modal__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et
        </p>
      </div>
    </div>
  </div>
</section>
